astroid @ file:///tmp/build/80754af9/astroid_1592495912941/work
attrs==19.3.0
backcall==0.2.0
basemap @ file:///tmp/build/80754af9/basemap_1596635481575/work
bleach==3.1.5
bokeh @ file:///tmp/build/80754af9/bokeh_1593187602660/work
cdsapi==0.3.0
certifi==2020.6.20
cffi==1.14.1
cftime==1.2.1
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
cycler==0.10.0
cytoolz==0.10.1
dask @ file:///tmp/build/80754af9/dask-core_1594156306305/work
decorator==4.4.2
defusedxml==0.6.0
distributed @ file:///tmp/build/80754af9/distributed_1594750293818/work
e2cnn @ git+git://github.com/QUVA-Lab/e2cnn.git@f63ca7799abd4e534d09ec9cd1ec56aebcd733c6
eccodes==0.9.8
entrypoints==0.3
fsspec==0.7.4
future==0.18.2
h5py @ file:///tmp/build/80754af9/h5py_1593454122442/work
HeapDict==1.0.1
idna==2.10
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446406207/work
ipykernel==5.3.0
ipython @ file:///tmp/build/80754af9/ipython_1593447377063/work
ipython-genutils==0.2.0
isort==4.3.21
jedi @ file:///tmp/build/80754af9/jedi_1592841866100/work
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594163838128/work
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
locket==0.2.0
MarkupSafe==1.1.1
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-base_1594091694890/work
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
nbconvert==5.6.1
nbformat==5.0.7
netCDF4==1.5.4
notebook==6.0.3
numexpr==2.7.1
numpy==1.18.5
olefile==0.46
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1592841659173/work
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.6.1
pylint @ file:///tmp/build/80754af9/pylint_1592496053748/work
pyparsing==2.4.7
pyproj==1.9.6
pyrsistent==0.16.0
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.24.0
rope==0.17.0
scipy==1.5.1
Send2Trash==1.5.0
six==1.15.0
sortedcontainers==2.2.2
tables==3.6.1
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
tikzplotlib==0.9.3
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz==0.10.0
torch==1.5.1
torchsummary==1.5.1
torchvision==0.6.0a0+35d732a
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1592847887441/work
urllib3==1.25.10
vectorfields @ https://github.com/OlafHaag/vectorfields/archive/master.zip
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
wrapt==1.11.2
xarray @ file:///tmp/build/80754af9/xarray_1595272082781/work
zict==2.0.0
zipp==3.1.0
